<p>
  list works!
</p>


<!-- BOton sencillo con una funcion de añadir, que puedes ver en list.component.ts
tendrás que añadir un input y tal para poder poner nombre -->
<input type="text" #user id="userInput" placeholder="User Name">
<input type="text" #userLast id="userLast" placeholder="User Last Name">
<button (click)="add(user.value, userLast.value)"> Añadir algo </button>

  <ul style ="height: 50px; background-color:antiquewhite">
    <li *ngFor="let user of users">
      {{ user | json }}
    </li>

  </ul>
<hr>
<p *ngFor="let names of test">
  {{ names }}
</p>
